{% extends 'base.html.twig' %}

{% block title product.name %}

{% block body %}

	<turbo-frame id="product">
			<p>
				<a href="{{path('product_index', {'id': app.user.id})}}" data-turbo-frame="_top"><i class="fas fa-arrow-left"></i></a>
			</p>
			<p><a href="{{path('product_edit', {'id': product.id})}}" data-turbo-frame="_top">Modifier</a></p>
		</turbo-frame>
	<h1>{{product.name}} - {{product.Storage}}</h1>
	<img src="{{product.img}}" alt="">
		<p>
			Date de péremption :
			{{product.bbDate|date('d-m-Y')}}
		</p>
		
			<img src="{{asset('img/nutriscore-' ~ product.nutriscore ~ '.svg')}}" alt="nutriscore">
		
		<p>
			Categories :
			<a href="{{path('admin_category_show', {'id': product.category.id})}} ">{{product.category}}</a>
		</p>
		
	
{% endblock %}
