{% extends 'base.html.twig' %}

{% block title %}Gérer
{% endblock %}

{% block body %}
	<div>
        <h1>{{pluralize(storages|length, 'lieu', 'lieux')}}</h1>
		{% for storage in storages %}
			<p>
				<a href="{{path('manage_storage_show', {'id': storage.id })}}">{{storage.name}}</a>
			</p>
		{% else %}
			<p>
				<a href="{{path('manage_storage_new')}} ">Créez un lieu de stockage.</a>
			</p>
		{% endfor %}
	</div>
	<br>
	<turbo-frame id="new_storage" src="{{path('manage_storage_new')}}" target="_top"></turbo-frame>
{% endblock %}

